<%-include header %>
<ul style="list-style:none">
  <li><h3><a href="https://love.alipay.com">支付宝公益平台</a></h3></li>
  <li><h3><a href="http://www.onefoundation.cn">壹基金</a></h3></li>
</ul>
<%-include footer %>